@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
        }
 /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        }
}
main, body, html {
  margin: 0;
  padding: 0;
  overscroll-behavior-x: none;
}

@theme {
  --breaktpoint-2xl: 192rem;
}

.fullScreenBlockingDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 25;
  display: flex;
  place-items: center;
  place-content: center;
}

.siteFooterDiv {
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 1em;
  margin: .5em;
  display: flex;
  align-items: center;
  justify-items: center;
  place-self: center;
  font-size: 10px;
  text-align: center;
  background-color: #00000010;
  color: #FFFFFF;
  cursor: pointer;
  text-wrap: nowrap;
  text-wrap-mode: nowrap;

  @media screen and (max-width:560px) {
    font-size:6px;
    margin-top: 4em;
  };

  :hover {
    scale: .95;
  };
}